@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Management System</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="box">
                <a href="/Product/Index">View Products</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="box">
                <a href="#">Update Products</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="box">
                <a href="#">Box 3</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="box">
                <a href="#">Box 4</a>
            </div>
        </div>
    </div>
</div>
